@model Hanyokessai.Models.LoginInfoDto
@{ ViewData["Title"] = "Login"; }
<head>
    <style>
        .inputInfo {
            width: 313pt;
            height: 40pt;
        }
        .errorMessage {
            padding-left: 40px;
            position: absolute;
            top: 4px;
        }
        .login {
            transform: translate(30%,0%);
        }
    </style>
</head>
<div class="login">
    <br>
    <h3 class="display-4">Login</h3>
    <p class="errorMessage">
        @{ for (var i = 0; i < @Model.errorMessege.Count(); i++)
            {
                <ul><li type="disc">@Model.errorMessege[i]</li></ul>
            }
         }
        @Html.ValidationSummary()
    </p>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <br>
                <form asp-controller="Za200" asp-action="event_Login">
                    <table>
                        <tr>
                            <td colspan='2'><input type="text" placeholder="Email" asp-for="txtMail" class="inputInfo" maxlength="25"></td>
                        </tr>
                        <tr>
                            <td colspan='2'><input type="password" placeholder="Password" asp-for="txtPwd" class="inputInfo" maxlength="32"></td>
                        </tr>
                        <tr>
                            <td><a class="btn btn-light btn-outline-dark btn-block " asp-area="" asp-controller="Za200" asp-action="event_Register">会員加入</a></td>
                            <td><button class="btn btn-light btn-outline-dark btn-block" type="submit" id="button">ログイン</button>
                        </tr>
                    </table>
                </form>
                <br>
            </li>
        </ul>
    </div>
</div>
