@{
    ViewData["Title"] = "Test2";
}
<div class="text-center">
    <h1 class="display-4">汎用決裁テスト</h1>
    <p>test2 画面です。</p>
</div>
<br>
<a class="nav-link text-dark" asp-area="" asp-controller="Test" asp-action="index">戻る(index ページ)</a>
<br>
